.infos{
    display:flex;
    flex-direction: row;
    width: 100vh;
    justify-content: space-evenly;
}
.button{
    width: 50px;
    margin: 1rem auto;
    padding: .6rem;
    border: none;
    border-radius: 5px;
    background-color: #36a9e1;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: all .2s linear;
    cursor: pointer;
}
.button:hover{
    background-color: #f59e00;
}
.page{
    position: absolute;
    top: 100px;
    width:95%;
    z-index: 500;
    margin: 0 2.5%;
    text-align: center;
}
h1{
    text-align: center;
}
form{
    display: inline-block;
}
.user{
    margin-bottom: 1rem;
}
.options{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.col {
    background-color: #eee;
    cursor: pointer;
    padding: 10px;
    width: 15%;
    border: none;
    outline: none;
    font-size: 15px;
}
.col:hover {
    background-color: #ccc;
}
.active, .members_col:hover {
    background-color: #ccc;
}
.members_content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}
.active, .infos_col:hover {
    background-color: #ccc;
}
.infos_content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}
.active, .candidats_col:hover {
    background-color: #ccc;
}
.candidats_content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}
textarea{
    width: 100%;
    height: 10rem;
}
.infos_content input{
    width: 100%;
}

/* Users */

.user{
    background-color : #36a9e1;
    border-radius : 1rem;
    width : 40rem;
    color: white;
    padding : 1px 20px;
    margin: 1.5rem auto;
}
.user h2{
    margin-right:1rem;
    margin-bottom:0px;
    font-size : 1.4rem;
    font-weight : 1000;
}
.user h3{
    margin-right:1.5rem;
    font-size : 1rem;
    font-weight : 0;
    margin-bottom:0px;
    line-height:2.7rem;
}
.user a{
    font-size:.9rem;
    text-decoration:none;
    color: white;
    line-height:3rem;
    transition: all .1s linear;
    height:.9rem;
}
.user a:hover{
    color:lightgray;
}
.user-infos{
    display:flex;
}
.user .part-title{
    margin-bottom:0px;
    margin-top:2px;
    text-align: left;
}
.actions{
    display:flex;
    justify-content:space-between;
}
.actions .submit{
          width: 100px;
          margin: .5rem auto;
          padding: .6rem;
          border: none;
          border-radius: 5px;
          background-color: #f59e00;
          color: white;
          text-decoration: none;
          text-align: center;
          transition: all .2s linear;
          cursor: pointer;  
}
.actions .submit:hover{
    background-color:#d18802;
}
.actions select{
    border-radius:.3rem;
    padding: .6rem;
}
.actions option{
    padding:.6rem;
}